<html>
    <head>
        <title>Open Book Web App</title>
        <link rel='stylesheet' href='{{url_for("static", filename="css/default.css")}}' />
        <link rel='stylesheet' href='{{url_for("static", filename="css/fonts.css")}}'>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" /> 
        <script type='text/javascript' src='{{url_for("static", filename="js/dynamic.js")}}'></script>
    </head>
    <body>
        <div id="header-wrapper" class="sticky">
            <div id="header" class="container">
                <div id="logo">
                    <h1><span class="fa fa-book"></span><a href="#">Open Book</a></h1>
                </div>
                <div id="menu">
                    <ul>
                        <li class="menu_item current_page_item"><a href="intro.html" accesskey="1" title="">Homepage</a></li>
                        <li class="menu_item"><a href="#" accesskey="2" title="">Our Clients</a></li>
                        <li class="menu_item"><a href="#" accesskey="3" title="">About Us</a></li>
                        <li class="menu_item"><a href="#" accesskey="4" title="">Careers</a></li>
                        <li class="menu_item"><a href="login.html" accesskey="5" title="">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>

        {% block pageContent %} {% endblock %}
        
    </body>
</html>