{% extends 'base.html' %}

{% block pageContent %}
<div id="header-featured">
    <div id="banner" class="container">
        <h2>Welcome to the Open Book Project!</h2>
        <p>Your way to share and organize notes and documents</p>
        <a href="login.html" class="button">Get Started</a>
    </div>
</div>

<div id="introPage">
    <div class="container">
        <h2>Open Book Features</h2>
        <div class="accordion">
            <button class="accordion_tab"><h2>Upload</h2></button>
            <div class="accordion_content">
                You can upload notes that you have taken electronically to our site for storage and managing.
                We support image files, word documents, excel notebooks, and PDFs.
            </div>
            <button class="accordion_tab"><h2>Search/Tag</h2></button>
            <div class="accordion_content">
                Uploaded notes can be tagged with words or phrases describing the content, and these tags can be used along with the 
                filename to search and organize your notes.
            </div>
            <button class="accordion_tab"><h2>Share</h2></button>
            <div class="accordion_content">
                Your uploaded notes can be shared with all other users of the site, so now you can collaborate to take notes, study material 
                for a class, or prepare for an exam!
            </div>
        </div>
        <h2>About Us</h2>
        <p>
            Claire is an Industrial Engineering student at Purdue University. She enjoys ice cream, Microsoft Excel, and breakfast food.
            A surefire way to make an enemy for life is to imply that her major is not a real engineering.
        </p>
        <p>
            Raghav is a PhD student in Computer Engineering at Purdue University. He enjoys programming in Haskell and convincing others to 
            program in Haskell in lieu of their preferred language. He harbors an unnecessarily strong dislike for long walks on the beach. 
            This is his first hackathon.
        </p>
    </div>
</div>
{% endblock %}