{% extends 'base.html' %}

{% block pageContent %}

<!-- <div id="header-featured"> -->
<!-- </div> -->
<div id="box-wrapper">
    <div id="box">
        <h1>Open Book Login</h1>
        <br />
        <form action='login.html' method="POST">
            <table>
                <tr>
                    <td>Username: </td> <td><input type="text" class="input rounded" name="username" /></td>
                </tr>
                <tr>
                    <td>Password: </td> <td><input type="password" class="input rounded" name="password" /></td>
                </tr>
            </table>
            <br />
            <input type="submit" value="Login" class="button" /><br /><br />
            <span style="color: #F2762E">Don't have an account yet? <a style="color: #FFF" href="register.html">Register</a> now!</span>
        </form>
    </div>
</div>

{% endblock %}