{% extends 'base.html' %}

{% block pageContent %}

<script type="text/javascript" src="{{url_for('static', filename='js/filtering.js')}}"></script>

<div id="page" class="content">
    <h1>Search all notes</h1>
    Filter: <input type="text" id="notes-filter" /><br />
    <div class="accordion" id="results">
        {% for note in notes %}
        <button class="accordion_tab">{{note.filename}}</button>
        <div class="accordion_content">
            <ul id="tags">
                {% for tag in note.tags.split(',') %}
                <li>{{tag.strip()}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    
</div>

{% endblock %}